@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
  font-size: 15px;
  height: 100vh;
}

header {
  margin: 90px auto 30px;
  max-width: 500px;
  text-align: center;
}

header h1 {
  font-size: 38px;
  font-weight: 200;
  margin-bottom: 20px;
  color: #555;
}

header h1 span {
  font-weight: 600;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.cards {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.middle {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  padding: 30px 20px;
  margin: 15px 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  border-radius: 5px;
  box-shadow: 10px 16px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #555;
}

.card p {
  font-size: 14px;
  margin: 15px 0 40px;
}

.card img {
  display: block;
  align-self: flex-end;
  margin-bottom: 10px;
}

.card-red {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.card-blue {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.card-orange {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.card-cyan {
  border-top: 4px solid hsl(180, 62%, 55%);
}

@media (max-width: 800px) {
  header {
    margin: 80px auto 30px;
    max-width: 315px;
  }

  header h1 {
    font-size: 24px;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 310px;
    margin: 10px 15px;
  }
}
